/* Media Queries */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  color: #253F47;
  font-size: 16px;
  line-height: 1.25em; }

body {
  background-color: #eaf984; }

/* Welcome page */
.Welcome .welcome-content {
  text-align: center;
  margin-top: 15%; }
  .Welcome .welcome-content h1 {
    font-family: 'Chewy', cursive; }
.Welcome .welcome-icon {
  font-size: 100px; }
@media (min-width: 451px) {
  .Welcome .login-input {
    margin: 5px; } }
@media (max-width: 450px) {
  .Welcome .login-input {
    margin-top: 5px;
    margin-bottom: 5px; } }
@media (max-width: 450px) {
  .Welcome .login-field {
    width: 65%;
    margin-left: 15%; } }

/* Register Page */
.Register .register-content {
  margin-top: 20%;
  text-align: center; }
  .Register .register-content .register-input, .Register .register-content label {
    margin-top: 10px; }
  .Register .register-content .register-input-field {
    width: 75%;
    margin-left: 12.5%; }

/* Profile Page */
.Profile .profile-content {
  margin-left: 10%; }
  @media (max-width: 450px) {
    .Profile .profile-content {
      margin-top: 10%; } }
  @media (min-width: 451px) {
    .Profile .profile-content {
      margin-top: 5%; } }
.Profile .profile-input, .Profile label {
  margin-top: 10px; }
.Profile .profile-input-field {
  width: 80%; }
@media (max-width: 450px) {
  .Profile .height-input {
    width: 80%; } }
.Profile button {
  margin: 10px; }

/* App */
.navigation .app-icon {
  color: yellow; }
.navigation .nav-item {
  font-family: 'Chewy', cursive;
  font-size: 20px; }
.navigation .nav-item:visited {
  text-decoration: none;
  color: white; }
.navigation .nav-item:focus {
  text-decoration: none;
  color: white; }
.navigation .nav-item:hover {
  text-decoration: none; }

/* Home */
.Home {
  margin-top: 0;
  text-align: center; }
  .Home .home-head {
    text-align: center;
    position: absolute;
    color: white;
    top: 0px;
    width: 100%;
    background-color: #1c1717; }
    .Home .home-head h2 {
      font-size: 50px;
      font-family: 'Chewy', cursive; }
      @media (max-width: 450px) {
        .Home .home-head h2 {
          font-size: 30px; } }
    @media (min-width: 1300px) {
      .Home .home-head {
        margin-right: 15%; } }
  .Home .box-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20%;
    margin-left: 3%; }
    .Home .box-container .box-button:hover {
      cursor: pointer;
      text-decoration: none; }
    .Home .box-container .box-link:hover {
      text-decoration: none; }
    .Home .box-container .box-link {
      margin-right: 10px;
      margin-bottom: 10px;
      padding: 0;
      width: 230;
      height: 230; }
      @media (max-width: 450px) {
        .Home .box-container .box-link {
          width: 150px;
          height: 150px;
          margin-bottom: 45px;
          margin-left: 12px; } }
    .Home .box-container .box-button {
      width: 230px;
      height: 230px;
      padding-top: 20%;
      margin: 50px;
      background-color: #edfff4;
      border-radius: 50%;
      border-style: outset; }
      .Home .box-container .box-button .button-title {
        font-family: 'Chewy', cursive;
        font-size: 20px; }
        @media (max-width: 450px) {
          .Home .box-container .box-button .button-title {
            font-size: 16px; } }
      @media (max-width: 450px) {
        .Home .box-container .box-button {
          padding-top: 20%;
          width: 150px;
          height: 150px;
          margin: 20px; } }
      @media (max-width: 450px) {
        .Home .box-container .box-button {
          margin-left: 0; } }
      .Home .box-container .box-button .button-icon {
        display: block;
        font-size: 100px; }
        @media (max-width: 450px) {
          .Home .box-container .box-button .button-icon {
            font-size: 60px; } }

/*# sourceMappingURL=index.css.map */
