$smartphone-max-width: 450px;
$tablet-max-width: 775px;
$desktop-min-width: 776px;
$large-min-width: 1300px;

/* Media Queries */
@mixin smartphone {
  @media (max-width: #{$smartphone-max-width}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$smartphone-max-width + 1px}) and (max-width: #{$tablet-max-width}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-min-width}) {
    @content;
  }
}

@mixin tabletAndDesktop {
  @media (min-width:#{$smartphone-max-width + 1px}) {
    @content;
  }
}

@mixin largeScreen {
  @media (min-width: $large-min-width) {
    @content;
  }
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  color: #253F47;
  font-size: 16px;
  line-height: 1.25em;
  letter-spacing: 0.5px;
}


body {
  background-color: #eaf984;
}


/* Welcome page */

.Welcome {


  .welcome-content {
    text-align: center;
    margin-top: 15%;
    h1 {
      font-family: 'Chewy', cursive;
    }
  }

  .welcome-icon {
    font-size: 100px;
  }

  .login-input {
    @include tabletAndDesktop {
      margin: 5px;
    }
    @include smartphone {
      margin-top: 5px;
      margin-bottom: 5px;
    }
  }

  .login-field {
    @include smartphone {
      width: 65%;
      margin-left: 15%;
    }
  }

}

/* Register Page */

.Register {
  .register-content {
    margin-top: 20%;
    text-align: center;

    .register-input, label {
      margin-top: 10px;
    }

    .register-input-field {
      width: 75%;
      margin-left: 12.5%;
    }
  }
}

/* Profile Page */

.Profile {
  .profile-content {
    margin-left: 10%;
    @include smartphone {
      margin-top: 10%;
    }
    @include tabletAndDesktop {
      margin-top: 5%;
    }
  }

  .profile-input, label {
    margin-top: 10px;
  }

  .profile-input-field {
    width: 80%;
  }

  .height-input {
    @include smartphone {
      width: 80%;
    }
  }
  button {
    margin: 10px;
  }
}

/* App */

.navigation {
  .app-icon {
    color: yellow;
  }
  .nav-item {
    font-family: 'Chewy', cursive;
    font-size: 20px;
  }
  .nav-item:visited {
    text-decoration: none;
    color: white;
  }
  .nav-item:focus {
    text-decoration: none;
    color: white;
  }
  .nav-item:hover {
    text-decoration: none;
  }
}

.closed-menu {
  height: 0px;
  transition: height 0.5s;
  -webkit-transition: height 0.5s;
}

.open-menu {
  height: 200px;
  transition: height 0.5s;
  -webkit-transition: height 0.5s;
}

.toggle-bar {
  .toggle-icon {
    color: white;
    float: right;
    margin-right: 10px;
  }
  .toggle-icon:hover {
    cursor: pointer;
    color: yellow;
  }
  background-color: black;
  position:absolute;
  width: 100%;
}

/* Home */

.Home {
  margin-top: 0;
  text-align: center;

  .home-head {
    text-align: center;
    position: absolute;

    color: white;
    top: 0px;
    width: 100%;
    background-color: #1c1717;
    h2 {
      font-size: 50px;
      font-family: 'Chewy', cursive;
      color: yellow;
      @include smartphone {
        font-size: 30px;
      }
    }
    @include largeScreen {
      margin-right: 15%;
    }

  }

  .box-container {

    display: flex;
    flex-wrap: wrap;
    @include smartphone {
      margin-top: 25%;
    }

    margin-top: 10%;
    margin-left: 3%;
    .box-button:hover {
      cursor: pointer;
      text-decoration: none;
      border-color: white;
      background-color: black;
      .button-title, .button-icon {
        color: yellow;
      }
    }
    .box-link:hover {
      text-decoration: none;
      color: white;
    }
    .box-link {
      margin-right: 10px;
      margin-bottom: 10px;
      padding: 0;
      width: 230;
      height: 230;
      @include smartphone {
        width: 150px;
        height: 150px;
        margin-bottom: 45px;
        margin-left: 12px;
      }
    }
    .box-button {
      .button-title {
        font-family: 'Chewy', cursive;
        font-size: 20px;
        @include smartphone {
          font-size: 16px;
        }
      }
      width: 230px;
      height: 230px;
      @include smartphone {
        padding-top: 20%;
        width: 150px;
        height: 150px;
        margin: 20px;
      }
      padding-top: 20%;
      margin: 50px;
      background-color: white;
      border-radius: 50%;
      border-style:outset;
      @include smartphone {
        margin-left: 0;
      }
      .button-icon {
        display: block;
        font-size: 100px;
        @include smartphone {
          font-size: 60px;
        }
      }

    }
  }
}

/* CurrentDay */

.CurrentDay {
  .date-screen {
    text-align: center;
    margin-top: 20%;
    h4 {
      font-family: 'Chewy', cursive;
      letter-spacing: 1px;
      font-size: 28px;
    }
  }
  .log-screen {
    margin-top: 5%;
    h4 {
      text-align: center;
      font-family: 'Chewy', cursive;
      letter-spacing: 1px;
      font-size: 28px;
    }
    .current-day-summary {
      background-color: white;
      border: solid black;
      padding: 20px;
      @include smartphone {
        padding-bottom: 30px;
      }
      width: 80%;
      margin-left: 10%;
      hr {
        border-color: black;
      }
      .entry-icons {
        float: right;
        margin-right: 0;
        padding-right: 0;
        .entry-edit-icon {
          color: green;
        }
        .entry-delete-icon {
          color: red;
        }
        .entry-edit-icon:hover, .entry-delete-icon:hover {
          cursor: pointer;
        }
        @include smartphone {
          float: left;
          margin-top: 4px;
        }
      }
      .delete-all {
        .delete-all-icon {
          color: red;
        }
        @include tabletAndDesktop {
          float: left;
        }
        @include smartphone {
          display: block;
        }
        color: red;
      }
      .delete-all:hover {
        cursor: pointer;
      }
      .total-for-today {
        @include tabletAndDesktop {
          float: right;
        }
        @include smartphone {
          display: block;
          margin-top: 10px;
        }
      }
    }
  }
  .current-day-buttons {
    text-align: center;
    margin-top: 15px;
    .cancel-button {
      margin-left: 10px;
    }
  }
}

.ManualAdd {
  text-align: center;
  a:hover {
    cursor: pointer;
  }
  a {
    font-size: 15px;
    letter-spacing: 0;
  }
}

.Search {
  text-align: center;
  .search-form {
    width: 100%;
  }
  .search-input {
    width: 80%;
    @include smartphone {
      width: 100%;
      margin-bottom: 5px;
    }
    @include tablet  {
      width: 100%;
      margin-bottom: 5px;
    }
  }
}

/* History */

.History {
  margin-top: 5%;
  h4 {
    font-family: 'Chewy', cursive;
    letter-spacing: 1px;
    font-size: 28px;
    text-align: center;
    @include smartphone {
      font-size: 18px;
    }
  }
  .goal-statement {
    text-align: center;
    font-family: 'Chewy', cursive;
    font-size: 18px;
    letter-spacing: 1px;
  }
  .determination {
    text-align: center;
    margin-left: 25%;
    margin-top: 5%;
  }
  .determination-result{
    height: 250px;
    width: 250px;
    border: solid black;
    border-radius: 50%;
    margin-left: 18%;
    padding-top: 10%;
    margin-bottom: 15%;
    @include tablet {
      padding-top: 15%;
    }
    p {
      font-size: 20px;
      letter-spacing: 3px;
    }

    @include smartphone {
      height: 150px;
      width: 150px;
      padding-top: 15%;
      margin-left: 8%;

      p {
        font-size: 16px;
      }
    }
    @include tablet {
      margin-left: 14%;
    }
  }
  .on-track {
    background-color: #71f45a;
  }
  .not-on-track {
    background-color: #fc775f;
  }
  .on-track-text, .not-on-track-text {
    font-family: 'Chewy', cursive;

  }
  .on-track-icon, .not-on-track-icon {
    @include tabletAndDesktop {
      font-size: 60px;
    }
  }
  .statistics {
    display: block;
    height: 300px;
    @include smartphone {
      height: 180px;
    }
    padding-left: 3%;
    padding-right: 3%;

    .target-calories, .average-calories {
      h5 {
        font-family: 'Chewy', cursive;
        font-size: 20px;
        letter-spacing: 3px;
      }
      span {
        font-size: 20px;
        display: block;
        margin-top: 5px;
      }
      text-align: center;
      height: 200px;
      width: 200px;
      padding-top: 4%;
      border-radius: 20%;
      border: solid black;
      background-color: white;
      margin-top: 4%;
      display: block;
      @include smartphone {
        height: 120px;
        width: 120px;
        padding-top: 2%;
        h5, .target-text, .average-text {
          font-size: 16px;
        }
      }
      @include tablet {
        height: 180px;
        width: 180px;
      }
    }

    .target-calories {
      float: left;
      @include desktop {
        margin-left: 20%;
      }
      @include smartphone {
        margin-left: 10%;
      }
      @include tablet {
        margin-left: 15%;
      }
    }
    .average-calories {
      float: right;
      @include desktop {
        margin-right: 20%;
      }
      @include smartphone {
        margin-right: 10%;
      }
      @include tablet {
        margin-right: 12%;
      }
    }



  }
  .past-entries-wrapper {
    background-color: white;
    width: 80%;
    margin-left: 10%;
    padding-right: 0;
    border: solid black;
  }
  .past-entries {
    li {
      margin: 10px;
    }
    a {
      font-size: 18px;
      letter-spacing: 1px;
      color: blue;
    }
    a:hover {
      cursor: pointer;
    }
    hr {
      border-color: black;
    }
    text-align: left;
    @include tablet {
      margin-left: 10%;
    }
    @include smartphone {
      margin-left: 0;
    }
  }
}

/* Profile */

.Profile {
  .profile-title {
    font-family: 'Chewy', cursive;
    font-size: 36px;
    text-align: center;
  }
  .profile-content {
  margin-right: 10%;
  }
  .profile-fields {
    background-color: white;
    width: 100%;
    padding: 5%;
    border: solid black;
  }
}
