$smartphone-max-width: 450px;
$tablet-max-width: 775px;
$desktop-min-width: 776px;
$large-min-width: 1300px;

/* Media Queries */
@mixin smartphone {
  @media (max-width: #{$smartphone-max-width}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$smartphone-max-width + 1px}) and (max-width: #{$tablet-max-width}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-min-width}) {
    @content;
  }
}

@mixin tabletAndDesktop {
  @media (min-width:#{$smartphone-max-width + 1px}) {
    @content;
  }
}

@mixin largeScreen {
  @media (min-width: $large-min-width) {
    @content;
  }
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  color: #253F47;
  font-size: 16px;
  line-height: 1.25em;
}


body {
  background-color: #eaf984;
}


/* Welcome page */

.Welcome {


  .welcome-content {
    text-align: center;
    margin-top: 25%;
  }

  .welcome-icon {
    font-size: 50px;
  }

  .login-input {
    @include tabletAndDesktop {
      margin: 5px;
    }
    @include smartphone {
      margin-top: 5px;
      margin-bottom: 5px;
    }
  }

  .login-field {
    @include smartphone {
      width: 65%;
      margin-left: 15%;
    }
  }

}

/* Register Page */

.Register {
  .register-content {
    margin-top: 20%;
    text-align: center;

    .register-input, label {
      margin-top: 10px;
    }

    .register-input-field {
      width: 75%;
      margin-left: 12.5%;
    }
  }
}

/* Profile Page */

.Profile {
  .profile-content {
    margin-left: 10%;
    @include smartphone {
      margin-top: 10%;
    }
    @include tabletAndDesktop {
      margin-top: 5%;
    }
  }

  .profile-input, label {
    margin-top: 10px;
  }

  .profile-input-field {
    width: 80%;
  }

  .height-input {
    @include smartphone {
      width: 80%;
    }
  }
}

/* App */

.navigation {
  .nav-item:visited {
    text-decoration: none;
    color: white;
  }
  .nav-item:focus {
    text-decoration: none;
    color: white;
  }
  .nav-item:hover {
    text-decoration: none;
  }
}

/* Home */

.Home {
  margin-top: 2%;
  text-align: center;

  .home-head {

    h2 {
      font-size: 50px;
    }
    @include largeScreen {
      margin-right: 15%;
    }
  }

  .box-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10%;
    margin-left: 5%;

    .box-button {
      margin: 50px;

      .button-icon {
        display: block;
        font-size: 100px;
      }
      @include smartphone {
        width: 600px;
      }
    }
  }
}
